<!-- HEADER -->
<header>
    <div class="header">
        <div class="mbox">
            <div class="header__wrap">
                <a class="header__logo" href="#">bi24<span>.com</span></a>
                <div class="header__nav">
                    <div class="header__butter"><span></span><span></span><span></span></div>
                    <ul>
                        <li><a href="#">Контррельс</a></li>
                        <li><a href="#">Калькулятор</a></li>
                        <li><a href="#">О компании</a></li>
                        <li><a href="#">Вопросы</a></li>
                        <li><a href="#">Клиенты</a></li>
                    </ul>
                </div>
                <a class="header__phone" href="tel:+79991234557">+7 999 123-45-57</a>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

